body {
    background-color: #FFFFCC;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: red;
}

h1,h2,h3{
    color: blue;
    text-align: center;
    font-weight: 300;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4,h5,h6 {
    color: red;
    text-align: center;
    font-style: italic;
    font-family: cursive;
}

.bg-gradient1 {
    /* background-image: linear-gradient(to top, #008b8b, #ffff00); */
    /* background-image: linear-gradient(45deg, #008b8b, #ffff00); */
    background-image: linear-gradient(to bottom right, #FFEEFF, #FFFFAA, #FFBBFF, #FFFFEE);
    /* background-image: linear-gradient(to left, #008b8b, #ffff00); */
}
